<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= product.body %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= product.published_at %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
